* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100svh;
  overflow: hidden;
  background: linear-gradient(135deg, #ff4e8a, #ff758c);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.envelope {
  width: 400px;
  height: 300px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.6s ease;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  margin: auto;
  overflow: hidden;
  perspective: 1000px;
}

.flap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff2e63;
  clip-path: polygon(0 0, 100% 0, 50% 50%);
  transform-origin: top;
  transition: transform 0.6s ease;
  border-radius: 10px 10px 0 0;
}

.letter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.6s ease;
  border-radius: 10px;
}

.letter h1 {
  color: #ff2e63;
  margin-bottom: 10px;
  font-size: 34px;
}

.letter p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.signature {
  display: block;
  margin-top: 40px;
  color: #ff2e63;
  font-weight: bold;
}

.envelope.open .flap {
  transform: rotateX(-180deg);
}

.envelope.open .letter {
  transform: translateY(0);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #fff;
  color: #ff2e63;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff2e63;
  color: #fff;
}

.message {
  display: none;
}

.message.active {
  display: block;
}

#nextBtn {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  background: #ff2e63;
  color: white;
  cursor: pointer;
}


@media (max-width: 480px) {

  .envelope {
    width: 300px;
    height: 400px;
  }

  .letter h1 {
        margin-bottom: 10px;
    }

    .signature {
        margin-top: 50px;
    }

    #nextBtn {
        margin-top: 30px;
    }

}
